header{
    display: flex;
    justify-content: space-between;
    margin: 32px 16px 22px;
}
.perfil{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.info-header{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.header-perfil{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    top: 65px;
    left: 16px;
}
.info-header h1{
    color: var(--tittle-color);
    font-size: 1.37rem;
    font-weight: var(--tittle-weight);
}
.info-header p{
    color: var(--text-color);
    font-size: 0.87rem;
    font-weight: var(--text-weight);
}

/* Responsividade */
@media (min-width: 1048px) {
    .header-perfil{
        width: 96px;
        height: 96px;
    }
    .info-header h1{
        font-size: 1.87rem;
    }
    .info-header p{
        font-size: 1.12rem;
    }
}