.lista-consultas {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.dia-consulta {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dia-consulta h2 {
    margin: 8px 0;
    color: var(--tittle-color);
    font-size: 16px;
    font-weight: var(--tittle-weight);
}

.consulta {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;

    padding: 16px;
    backdrop-filter: blur(22px);
    margin-bottom: 16px;
    border: 1px solid #ECECEC;
}

.dados-consulta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.paciente {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 16px;
}

.info h2 {
    color: var(--tittle-color);
    font-size: 14px;
    font-weight: var(--tittle-weight);
    line-height: 160%;
}

.tipo-consulta {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icone-consulta {
    width: 12px;
    height: 10px;
}

.tipo-consulta p {
    font-size: 12px;
    color: var(--text-color);
    font-weight: var(--text-weight);
}

.icone {
    width: 32px;
    height: 32px;
}

hr {
    width: 100%;
    margin: 12px 0;
    border: none;
    border-top: 1px solid var(--divisor);
    opacity: 0.10;
}

.opcoes-consulta {
    width: 100%;
}

.opcoes-consulta p {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--tittle-color);
}

.botoes-consulta {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.botao-ligar-video,
.botao-ligar-audio,
.botao-endereco {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.botao-ligar-audio {
    background-color: var(--button-audio);
    color: var(--tittle-color);
    font-size: 14px;
    font-weight: 500;
}

.botao-ligar-video {
    background-color: var(--button-video);
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.botao-endereco {
    background-color: var(--button-adress);
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

/* Responsividade*/
@media (min-width: 768px) {
    .lista-consultas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .consulta {
        width: 100%;
        margin-bottom: 0;

    }
    .dia-consulta {
        grid-column: 1 / -1;

        height: auto;
        margin-bottom: -8px;
    }
}

@media (min-width: 1280px) {
    .lista-consultas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .consulta {
        width: 100%;
        margin-bottom: 0;

    }
    .dia-consulta {
        grid-column: 1 / -1;

        height: auto;
        /*margin-bottom: 28px;*/
    }
}