.cabecalho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 96px;
    padding: 0 112px;
}

/* Media Queries */
@media (max-width: 768px) {
    .cabecalho-container {
        padding: 0 16px;
        margin-top: 48px;
    }

    .cabecalho-container h1 {
        font-size: 32px;
        text-align: center;
    }

    .cabecalho-container p {
        font-size: 16px;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cabecalho-container {
        padding: 0 56px;
    }
}