@import url(header.css);
@import url(cabecalho.css);
@import url(metricas.css);
@import url(vagas.css);
@import url(avaliacoes.css);
@import url(formulario.css);

:root{
    --text-color: #667085;
    --tittle-color: #121828;
    --main-color: #8E2424;
}
span{
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
h1{
    margin-top: 24px;
    margin-bottom: 36px;
    font-size: 48px;
    color: var(--tittle-color);
    font-weight: 600;
}
p{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}
.botoes{
    gap: 8px;
}
.btn-entrar{
    color: var(--text-color);
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 8px;
}
.btn-cadastrar{
    color: #FFFFFF;
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
}
.btn-cadastrar:hover{
    background-color: #711a1a;
    color: #FFFFFF;
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-in-out;
}